<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
  <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="/css/styles.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript" src="/js/init.js"></script>
  <title>Ajudaê🙏 - Página principal</title>

</head>

<body>
  <header th:fragment="header">
    <div class="logo-box">
      <div class="logo-link">
        <h1 class="color-primary logo-title">AJUDAÊ123</h1>
        <img src="img/pray.svg" width="55" alt="logo" />
      </div>
    </div>

    <div class="btns">
      <a href="#modal-perfil" class="profile-icon modal-trigger">
        <img src="img/profile.svg" width="55" alt="Foto de perfil" />
      </a>
    </div>
  </header>
  <div class="divider"></div>
  <main>
    <div class="row">
      <div class="col s12">
        <div class="explore-box">
          <img src="img/explore.svg" width="55" alt="explorar" />
          <h2 class="color-secondary-dark">EXPLORAR</h2>
        </div>
      </div>
      <div class="col s12 explore-cards">
        <div class="user-card">
          <img src="img/img-1.png" width="100%" />
          <h4 class="color-primary-dark">Velhinhas carinhosas</h4>
          <p class="color-secondary-dark">
            O projeto velhasa carinhosas é muito
            legal e bonnito, velhasa carinhosas é
            muito legal e bonnitovelhasa…
          </p>
          <a href="#" class="color-primary-dark right">DETALHES</a>
        </div>
        <div class="user-card">
          <img src="img/img-1.png" width="100%" />
          <h4 class="color-primary-dark">Velhinhas carinhosas</h4>
          <p class="color-secondary-dark">
            O projeto velhasa carinhosas é muito
            legal e bonnito, velhasa carinhosas é
            muito legal e bonnitovelhasa…
          </p>
          <a href="#" class="color-primary-dark right">DETALHES</a>
        </div>
        <div class="user-card">
          <img src="img/img-1.png" width="100%" />
          <h4 class="color-primary-dark">Velhinhas carinhosas</h4>
          <p class="color-secondary-dark">
            O projeto velhasa carinhosas é muito
            legal e bonnito, velhasa carinhosas é
            muito legal e bonnitovelhasa…
          </p>
          <a href="#" class="color-primary-dark right">DETALHES</a>
        </div>
        <div class="user-card">
          <img src="img/img-1.png" width="100%" />
          <h4 class="color-primary-dark">Velhinhas carinhosas</h4>
          <p class="color-secondary-dark">
            O projeto velhasa carinhosas é muito
            legal e bonnito, velhasa carinhosas é
            muito legal e bonnitovelhasa…
          </p>
          <a href="#" class="color-primary-dark right">DETALHES</a>
        </div>
        <div class="user-card">
          <img src="img/img-1.png" width="100%" />
          <h4 class="color-primary-dark">Velhinhas carinhosas</h4>
          <p class="color-secondary-dark">
            O projeto velhasa carinhosas é muito
            legal e bonnito, velhasa carinhosas é
            muito legal e bonnitovelhasa…
          </p>
          <a href="#" class="color-primary-dark right">DETALHES</a>
        </div>
        <div class="user-card">
          <img src="img/img-1.png" width="100%" />
          <h4 class="color-primary-dark">Velhinhas carinhosas</h4>
          <p class="color-secondary-dark">
            O projeto velhasa carinhosas é muito
            legal e bonnito, velhasa carinhosas é
            muito legal e bonnitovelhasa…
          </p>
          <a href="#" class="color-primary-dark right">DETALHES</a>
        </div>
        <div class="user-card">
          <img src="img/img-1.png" width="100%" />
          <h4 class="color-primary-dark">Velhinhas carinhosas</h4>
          <p class="color-secondary-dark">
            O projeto velhasa carinhosas é muito
            legal e bonnito, velhasa carinhosas é
            muito legal e bonnitovelhasa…
          </p>
          <a href="#" class="color-primary-dark right">DETALHES</a>
        </div>
      </div>
    </div>
  </main>
  <div id="modal-perfil" class="modal">
    <img src="img/close.svg" alt="fechar" class="modal-close close-btn" width="20" />
    <div class="row">
      <form class="col-12">
        <div class="row">
          <div class="col s12">
            <h5 class="color-secondary-dark title-modal">Perfil</h5>
          </div>
          <div class="col s6 offset-s3">
            <div class="divider pink"></div>
          </div>

          <div class="col s12">
            <button href="#" class="default-button color-primary modal-close">
              Confirmar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>